html {
    margin: 0;
    padding: 0px;
    border: 0; 
}

body {
    margin: 10px;
    background-image: url(./images/background-image1.png);
    background-repeat: no-repeat;
    background-size: cover
    ;
    font-family: 'Montserrat', monospace;
} 

h1 {
    display: flex;
    flex-direction: column;
    color:rgb(14, 37, 14);
    align-items: center;
}


.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    
}

.btn-gem {
    border: none;
    height: 35vh;
    width: 20vw;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0.5;
}

.gem-count {
    font-size: 3rem;
}
.btn  {
    cursor: pointer;
    opacity: 0.8;
}

.btn:hover {
    transform: scale(1.05);
    opacity: 1;
    filter: drop-shadow(5px 5px 5px #222);
}

.upgradeAreaOff {
    display: none;
    
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

